.form-wrapper {
    position: relative;

    .error {
        width: 225px;
        font-weight: 700;
        color: rgb(247, 70, 70);
        margin-right: 1.5em;
        font-size: 1rem;
    }

    .error.small {
        position: absolute;
        top: -38px;
    }

    .error.full {
        display: none;
    }
}

.form-control {
    display: flex;
    padding: 0.6em 0.5em;
    background: rgb(30, 42, 71);
    height: 69px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 1.5em;
    font-family: inherit;

    .form-control-input {
        padding: 1em;
        background: rgb(30, 42, 71);
        outline: none;
        border: none;
        border-radius: 15px;
        width: 100%;
        color: #ffffff;
        font-family: inherit;
        font-size: 1rem;
        background: url('../../assets/icon-search.svg') no-repeat 24px/24px;
        text-indent: 3.3em;
        text-overflow: ellipsis;
    }

    .form-control-input::placeholder {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
    }

    .form-control-action {
        border: none;
        background: rgb(0, 121, 255);
        border-radius: 10px;
        height: 50px;
        padding: 0.5em 1.382em;
        font-weight: 700;
        color: #ffffff;
        font-size: 1em;
        font-family: inherit;
        letter-spacing: 0.5px;
    }

    .form-control-action:hover,
    .form-control-action:focus {
        background: rgb(39, 132, 236);
        cursor: pointer;
    }
}

// Media Queries
@media screen and (min-width: 500px) {
    .form-wrapper {
        .error.small {
            display: none;
        }
    
        .error.full {
            display: block;
        }
    }
}